body {
	font-family: "Arial", sans-serif 
}

h2 {
	font-size: 20px;
  text-align: center;
  font-weight: normal;
  border-top: 0.05cm solid #000000; 
	border-bottom: 0.05cm solid #000000;
}

table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
  font-size: 18px;
}

table tr td, th {
	border: 1px solid black;
	padding: 5px 5px;
}